@import "~bootstrap/scss/bootstrap.scss";

body {
    background: cornflowerblue;
}

.traffic-lights {
  padding: 10px 50px;
  background: #222;
  border-radius: 35px;
  border: 15px solid #111;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index:100;
}

.light {
  border-radius: 50%;
  background: gray;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.red {
      border-radius: 50%;
    width: 100px;
  height: 100px;
  margin: 20px auto;
    background-color: red;
}
.amber{
      border-radius: 50%;
    width: 100px;
  height: 100px;
  margin: 20px auto;
    background-color:orange;
}
.green{
      border-radius: 50%;
    width: 100px;
  height: 100px;
  margin: 20px auto;
    background-color: green;
}
// .red:focus{
// -webkit-box-shadow: 0px 0px 79px 10px rgba(255,208,0,1);
// -moz-box-shadow: 0px 0px 79px 10px rgba(255,208,0,1);
// box-shadow: 0px 0px 79px 10px rgba(255,208,0,1);
// }
.ball:nth-child(1){
    border-radius: 50%;
    width: 100px;
  height: 100px;
  margin: 20px auto;
    background-color: red;
}
.ball:nth-child(2){
    border-radius: 50%;
    width: 100px;
  height: 100px;
  margin: 20px auto;
    background-color: orange;
}
.ball:nth-child(3){
    border-radius: 50%;
    width: 100px;
  height: 100px;
  margin: 20px auto;
    background-color: green;
}